
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

ul {
  list-style: none;
  font-size: 30px;
}

a {
  text-decoration: none;
}
.imagem {
  width: 30%;
  height: 30%;
}

body {
  /* background-image: url(../images/pexels-jakub-novacek-924824.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed; */
  background: url(../images/pexels-jakub-novacek-924824.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}
.container .name h5 {
  font-size: 18px;
}

 #about p{
   margin: 0 auto;
   max-width: 600px;
}