* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.imagem {
  width: 30%;
  height: 30%;
}

body {
  background-image: url(../images/pexels-jakub-novacek-924824.jpg);
  background-repeat: none;
  background-position: center center fixed;
}