/* tags */
body {
  text-align: center;
}

/* ids */
#login {
background-color: black;
color: white
}
#registre {
  background-color: blue;
  color: white
  }

  /* classes */
  .copy {
    font-size: 12px;
  }
/* h1 {
  text-align: center;
} */